@tailwind base;
@tailwind components;
@tailwind utilities;

/* define the route here */
:root {
  --color-BgColor: white;
  --color-TextColor: black;
}

:root[class="dark"] {
  --color-BgColor: black;
  --color-TextColor: lightblue;
}
